<?xml version="1.0" encoding="UTF-8"?>
<svg class="icon-close" width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>Group 2</title>
    <desc>Created with Sketch.</desc>
    <g id="5.-Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Product-v2" transform="translate(-1284.000000, -68.000000)" stroke="#262626">
            <g id="Group-2" transform="translate(1284.000000, 69.000000)">
                <path d="M20.4166667,0 L0.476072518,18" id="Line-7"></path>
                <path d="M0.476072518,0 L20.4166667,18" id="Line"></path>
            </g>
        </g>
    </g>
</svg>