<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 19</title>
    <desc>Created with Sketch.</desc>
    <g id="5.-Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-1348.000000, -86.000000)" fill="#262626">
            <path d="M1356.41467,101.286027 C1352.48241,101.286027 1349.29471,98.1537981 1349.29471,94.2838387 C1349.29471,90.4138793 1352.48241,87.2753986 1356.41467,87.2753986 C1360.34693,87.2753986 1363.53526,90.4138793 1363.53526,94.2838387 C1363.53526,98.1537981 1360.34693,101.286027 1356.41467,101.286027 L1356.41467,101.286027 Z M1367.81011,104.91216 L1362.6469,99.8293217 C1363.9985,98.3601125 1364.82934,96.4220069 1364.82934,94.2838387 C1364.82934,89.7074086 1361.06212,86 1356.41467,86 C1351.76722,86 1348,89.7074086 1348,94.2838387 C1348,98.8540169 1351.76722,102.561425 1356.41467,102.561425 C1358.42269,102.561425 1360.26441,101.867459 1361.71103,100.710847 L1366.89487,105.812441 C1367.14806,106.06252 1367.55754,106.06252 1367.81011,105.812441 C1368.0633,105.568615 1368.0633,105.162238 1367.81011,104.91216 L1367.81011,104.91216 Z" id="Fill-19"></path>
        </g>
    </g>
</svg>