<?xml version="1.0" encoding="UTF-8"?>
<svg class="icon-hamburger" width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>Group 2</title>
    <desc>Created with Sketch.</desc>
    <g id="5.-Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Product-v2" transform="translate(-1312.000000, -68.000000)" stroke="#262626">
            <g id="Group-2" transform="translate(1313.000000, 68.000000)">
                <path d="M20.4166667,19 L0.476072518,19" id="Line-6"></path>
                <path d="M20.4166667,10 L0.476072518,10" id="Line-6-Copy"></path>
                <path d="M20.4166667,1 L0.476072518,1" id="Line-6-Copy-2"></path>
            </g>
        </g>
    </g>
</svg>