<?xml version="1.0" encoding="UTF-8"?>
<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 95</title>
    <desc>Created with Sketch.</desc>
    <g id="5.-Layout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-1384.000000, -86.000000)" fill="#262626">
            <path d="M1399.75,103.333333 C1399.0255,103.333333 1398.4375,103.930667 1398.4375,104.666667 C1398.4375,105.402667 1399.0255,106 1399.75,106 C1400.4745,106 1401.0625,105.402667 1401.0625,104.666667 C1401.0625,103.930667 1400.4745,103.333333 1399.75,103.333333 L1399.75,103.333333 Z M1393.1875,103.333333 C1392.463,103.333333 1391.875,103.930667 1391.875,104.666667 C1391.875,105.402667 1392.463,106 1393.1875,106 C1393.912,106 1394.5,105.402667 1394.5,104.666667 C1394.5,103.930667 1393.912,103.333333 1393.1875,103.333333 L1393.1875,103.333333 Z M1401.71875,99.3333333 C1401.71875,100.069333 1401.13075,100.666667 1400.40625,100.666667 L1393.1875,100.666667 C1392.463,100.666667 1391.875,100.069333 1391.875,99.3333333 L1390.78103,92.6666667 L1403.35938,92.6666667 L1401.71875,99.3333333 L1401.71875,99.3333333 Z M1390.54281,91.3333333 L1388.90547,86 L1384.65625,86 C1384.29334,86 1384,86.2986667 1384,86.6666667 C1384,87.0353333 1384.29334,87.3333333 1384.65625,87.3333333 L1387.9375,87.3333333 L1389.25722,91.3333333 L1389.25,91.3333333 L1390.5625,99.3333333 C1390.5625,100.806 1391.73784,102 1393.1875,102 L1400.40625,102 C1401.85591,102 1403.03125,100.806 1403.03125,99.3333333 L1405,91.3333333 L1390.54281,91.3333333 L1390.54281,91.3333333 Z" id="Fill-95"></path>
        </g>
    </g>
</svg>