

{% schema %}
{
  "name": "Teamlist",
  "blocks": [
    {
      "name": "Team",
      "type": "text",
      "settings": [
        {
          "id": "teamid",
          "label": "Team ID",
          "type": "text",
          "default": "TEAM ID GOES HERE"
        },
        {
          "id": "main_color",
          "label": "Main Color",
          "type": "color",
          "default": "#fff"
        },
        {
          "id": "main_logo",
          "label": "Logo",
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %}
{% assign teamid = collection.id | downcase %}
{% for content in section.blocks %}	
    {% if content.settings.teamid == teamid  %}
		<style>
          	.team--bg-primary-color {
              background: {{ content.settings.main_color }};
            }
          
          	.team--bg-logo {
              background-image:url({{ content.settings.main_logo | img_url: "400x400" }});
            }          
		</style>
    {% endif %}
{% endfor %}


<style>

    .team--hero {
        display:flex;
        height:300px;
        flex-flow:row wrap;
    }
    .team--logo {
        width:50%;
        height:100%;
        background-image:url("https://i.redd.it/4w8jxyi56if41.jpg");
        background-size:cover;
        background-position:center;
    }
    @media all and (max-width:700px) {
        .team--logo, .team--title {
            width:100%;
        }
    }

</style>

<div class="team--hero">
    <div class="team--title">
{% comment %} title {% endcomment %}

    </div>


    <div class="team--logo">
{% comment %} logo {% endcomment %}


    </div>


</div>

