<div class="page-width" id="team-collection">


    <script>
//         var password = prompt("Password?");
//         if (password !== "syd") {
//            window.location.replace("/");
//         }

    </script>

  {% section 'collection-team' %}
 
  
  {% section 'collection-template' %}
</div>
